/* 雪花特效 */
[data-theme="light"] #snow{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;
  }
  
  /* 雪花黑夜模式不显示 */
  [data-theme="dark"] #snow{
    display: none;
  }
  
  :root {
    --ichika-color: #49A6E9;
}

/* 公告&欢迎页 */
.card-announcement {
    line-height:30px;
    font-size:16px;
}

.card-announcement .item-headline span{
    margin-left:0!important;
}

.card-announcement span{
    font-weight:bold;
    font-size:20px!important;
    color:var(--ichika-color);
}


